#mainContent{width:990px;margin:20px auto;min-height:800px}
#bodyBox{min-height:800px;background:#000}
#detailBox{min-height:300px;margin-bottom:18px;overflow:hidden}
.db-showpanel{width:462px;height:462px;float:left;border-top:1px solid #e7e7e7;padding-top: 22px}
.db-showpanel a{display:table-cell;vertical-align:middle;text-align:center}
.db-showpanel a img{max-height:460px;max-width:460px;width:440px;margin:1px;border:none;vertical-align:middle\9}
.db-icbu{width:526px;height:462px;margin-left:463px;border-top:1px solid #e7e7e7}
.db-icbu h3{padding:3px 0;color:#000;font-size:16px;vertical-align:top}
.db-icbu .ui-form-bd{display:block;padding:50px;min-height:160px;margin-left:54px}
.db-icbu .ui-form-row{margin-bottom:15px;overflow:hidden}
.db-icbu .ui-form-label{float:left;color:#999}
.db-icbu .ui-form-right{margin-left:70px;color:#666}
.salesvol strong,.superstar-price strong{font-weight:700;color:#c00}
.db-icbu .superstar-price{height:27px;line-height:27px}
.superstar-price .price-mgleft{margin-left:30px}
.superstar-price strong{font-size:27px;vertical-align:top}
.scinfo-bd{display:block;padding:9px;width:474px;height:152px;margin-left:10px;}
.scinfo-bd .ui-form-label{color:#8d7664}
.scinfo-bd .ui-form-row{margin-bottom:12px;overflow:hidden}
.scinfo-bd .ui-form-valid{margin-top:5px}
.scinfo-bd .ui-msg{position:relative;display:inline-block;border:1px solid #e1e1e1;border-radius:2px;background:#fff;padding-left:24px;box-shadow:1px 1px 1px #f5f5f5}
.scinfo-bd .ui-msg-con{line-height:16px;color:#666;background:#fbfbfb;padding:3px 50px 3px 5px;border:1px solid #efefef;border-left:1px solid #e7e7e7;margin:-1px;width:225px}
.tv-leftbox,.tv-rightbox{display:inline-block;overflow:hidden;border-bottom:1px solid #d5d4d4}
.tv-lb-content,.tv-rb-bottom{border-right:1px solid #d5d4d4}.scinfo-bd .ui-msg-icon{width:23px;height:22px;top:0;left:0}
.scinfo-bd .ui-msg-tip .ui-msg-icon{background-position:-61px -103px}
.scinfo-bd .ui-msg-icon,.ui-msg-arrow,.ui-msg-close{position:absolute;background-image:url(//assets.alicdn.com/apps/tmall/mui/msg/img/msg.png);background-repeat:no-repeat}
.evalate .superstar-tb-star em,.evalate .superstar-tb-star em i{background-image:url(//img.alicdn.com/tps/i1/T1hidWXytaXXc1ZBMD-192-709.png);background-repeat:no-repeat}
.evalate .superstar-tb-star{font-weight:400;display:inline-block;color:#666}
.evalate .superstar-tb-star em{display:inline-block;vertical-align:baseline;width:60px;height:11px;overflow:hidden;margin-right:1px;background-position:-132px -364px;font-weight:400}
.evalate .superstar-tb-star i{display:inline-block;height:11px;vertical-align:top;background-position:-132px -343px}
.evalate .superstar-tb-star span{color:#666}.evalate span{color:#999}
.banner-totalevolute{height:38px;margin-bottom:5px;margin-bottom:5px\9;background:#f6f3f1}
.tv-leftbox{height:38px;width:181px;float:left}.tv-rightbox{height:38px;width:809px;float:right}
.tv-lb-head{height:5px;background:#b41a1a}
.tv-lb-bottom,.tv-lb-content{background:#f6f5f1;border-left:1px solid #d5d4d4}
.tv-lb-content{height:28px;font-size:15px;line-height:28px;text-align:center;font-weight:700}
.tv-lb-content span{color:#363535}
.tv-lb-content em{color:#284ca5;font-weight:700}.tv-lb-bottom{height:5px}
.tv-rb-cover{height:32px;background:#fff}
.tv-rb-bottom{height:5px;background:#f6f3f1;border-top:1px solid #d5d4d4}