#footerArea {
	width: 1200px;
	overflow: hidden;
	color: #999999;
	text-align: center;
	margin: 0 auto;
	padding-top: 100px;
}


#footerArea img{
	height: 50px;
	display: inline-block;
	margin: 15px 5px 5px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}