*{
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 980px;
	margin: 0 auto;
}

#position {
	margin: -5px 0 5px;
	color: #888;
	line-height: 27px;
	height: 27px;
}

#position DT {
	display: inline;
}

#position DD {
	display: inline;
	font-weight: normal;
}

#position a:link,
#position a:visited {
	color: #888;
}

#position a{
	text-decoration: none;
}

#position a:hover {
	color: #c00;
}
#wrap #welcome {
	display: inline;
	float: right;
	margin: -33px 36px;
	color: #000;
}

#wrap #welcome .btn {
	border-top-width: 0px;
	border-left-width: 0px;
	background: url(http://i.vanclimg.com/my/2012/recommand/bg_btn.png) no-repeat;
	border-bottom-width: 0px;
	width: 57px;
	color: #fff;
	padding-top: 2px;
	height: 19px;
	border-right-width: 0px;
	_height: 21px;
}
#UserMap {
	COLOR: #3c3c3c
}
#side-nav,
#side-nav ul,
#side-nav li,
#side-nav h2,
#side-nav h3,
#side-nav a {
	font-size: 12px;
	font-family: "宋体";
	color: #333;
	margin: 0;
	padding: 0;
}

#side-nav li {
	list-style: none;
}

#side-nav a:link,
#side-nav a:visited {
	text-decoration: none;
}

#side-nav li a:hover,
#side-nav .my_vancl a:hover {
	color: #a10000;
	text-decoration: none;
}

#side-nav {
	float: left;
	width: 180px;
}

.my_vancl {
	height: 28px;
	line-height: 28px;
	border: 1px solid #c8c8c8;
	margin-bottom: 10px;
}

#side-nav .my_vancl h2 {
	background: url(http://i.vanclimg.com/my/01.jpg) no-repeat 25px center;
	padding-left: 46px;
	display: block;
	font-weight: bold;
	color: #656565;
}

#side-nav h3 {
	background: url(http://i.vanclimg.com/my/02.jpg) repeat-x;
	line-height: 30px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

#side-nav .vancl_quan h3 {
	background: url(http://i.vanclimg.com/my/06.jpg) repeat-x;
}

#side-nav ul {
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	padding-bottom: 5px;
}

#side-nav .service-rate {
	border-bottom: 1px solid #c8c8c8;
	margin-bottom: 10px;
}

#side-nav ul li {
	background: url(http://i.vanclimg.com/my/05.jpg) no-repeat center bottom;
}

#side-nav ul li a {
	padding: 0 0 0 30px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	display: block;
}

#side-nav ul li a:hover,
#side-nav ul li a.selected {
	color: #a10000;
	_margin-left: 2px;
	background: url(http://i.vanclimg.com/my/side-nav.gif) no-repeat 0 -87px;
}

#side-nav ul li.on a:hover {
	background: none;
}

#side-nav ul li.on {
	background: url(http://i.vanclimg.com/my/13.jpg) no-repeat;
}

#side-nav ul .on a {
	color: #a10000;
}

#side-nav .vancl_quan li.line {
	background: url(http://i.vanclimg.com/my/05.jpg) repeat-x left center;
	height: 3px;
	width: 178px;
	float: left;
}

#side-nav ul li.no_bg {
	background: none;
}

#side-nav .vancl_quan {
	border-bottom: 1px solid #c8c8c8;
}

#side-nav li.accordion-content {
	position: relative;
}

#side-nav .accordion-content ul {
	padding-bottom: 0;
	border: none;
}

#side-nav .vancl_quan li {
	background: none;
}

#side-nav .vancl_quan li.gf {
	clear: both;
}

#side-nav .vancl_quan li.msg a,
#side-nav .vancl_quan li.msg a:hover {
	background: url("http://i.vanclimg.com/my/2012/share/vancl.plugin/side.nav/msg.gif") no-repeat scroll 15px 4px transparent;
}

#side-nav .vancl_quan div.on a,
#side-nav .vancl_quan div.on a:hover {
	background: #EEE;
	_margin-right: 5px;
}

#side-nav .vancl_quan li a:hover,
#side-nav .vancl_quan li a.selected {
	color: #a10000;
	background: url(http://i.vanclimg.com/my/side-nav.gif) no-repeat 0 -63px;
}

#side-nav .vancl_quan .v_dr {
	clear: both;
}

#side-nav .vancl_quan .gf a,
#side-nav .vancl_quan .v_dr a,
#side-nav .vancl_quan .gf a:hover,
#side-nav .vancl_quan .v_dr a:hover {
	background-image: url(http://i.vanclimg.com/my/quanbgs.gif);
	background-repeat: no-repeat;
	padding-left: 42px;
}

#side-nav .vancl_quan .gf a,
#side-nav .vancl_quan .gf a:hover {
	background-position: 15px -72px;
}

#side-nav .vancl_quan .gf a.collapse,
#side-nav .vancl_quan .gf a.collapse:hover {
	background-position: 15px -48px;
}

#side-nav .vancl_quan .v_dr a,
#side-nav .vancl_quan .v_dr a:hover {
	background-position: 15px -24px;
}

#side-nav .vancl_quan .v_dr a.collapse,
#side-nav .vancl_quan .v_dr a.collapse:hover {
	background-position: 15px 0;
}

#side-nav .vancl_quan .gf a:hover,
#side-nav .vancl_quan .v_dr a:hover {
	color: #a10000;
}

#side-nav .vancl_quan .dp {
	position: relative;
}

#side-nav .vancl_quan .fb {
	position: absolute;
	top: 0;
	padding: 0;
	left: 100px;
	color: #9a9a9a;
	text-decoration: underline;
}

#side-nav .vancl_quan .fb a {
	padding: 0;
	color: Gray;
	text-decoration: underline;
}

#side-nav .vancl_quan a.fb:hover {
	color: #9a9a9a;
	background: none;
}


























