#secTab{
	padding-top: 26px;
}
.innerTob{
	width: 330px;
	margin: 0 auto;
}
.innerTob>h2{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #333333;
	margin-bottom: 10px;
}
.tableItem{
	/*height: 24px;
	border: 1px solid #DEDEDE;
	line-height: 24px;
	margin-bottom: 10px;
	padding: 14px 0px;
	position: relative;*/
}
.onlyItem{
	width: 192px;
}
.tableText{
	display: inline-block;
	width: 126px;
	height: 35px;
	margin-left: 10px;
	text-align: center;
	background-color: #999999;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
	border-radius: 3px;
	padding-top: 17px;
}
.tableItem input{
	vertical-align: middle;
	width: 100%;
	height: 54px;
	padding: 0 24px;
	border: 0.5px solid #6c6c6c;
	margin: 5px;
	line-height: 24px;
	font-size: 14px;
	box-sizing: border-box;
}
.clickRegist{
	height: 35px;
	line-height: 35px;
	color: #666666;
	text-indent: 1em;
}
.clickRegist a{
	color: #0066CC;
}
.clickRegist a:hover{
	color: #f60;
}