﻿.ac_results{
    padding: 0px;border: 1px solid black;background-color: white;overflow: hidden;z-index:100;
}
.ac_results ul{
    width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;
}
.ac_results li{
    margin: 0px;padding: 2px 5px;cursor: default;display: block;font: menu;font-size: 12px;line-height: 16px;overflow:hidden;*overflow:inherit;
}
.ac_results .item{
    text-align:left;float:left;
}
.ac_results .num{
    text-align:right;float:right;color:Green;
}
.ac_loading{
    background: white url('http://images.vancl.com/others/2011/6/9/indicator.gif') right center no-repeat;
}
.ac_over{
    background-color: #3399ff;color: white;
}
.ks-suggest-key{
    float:left;padding-left:5px;text-align:left;
}
.ks-suggest-result{
    color:green;float:right;padding-right:5px;text-align:right;
}
@charset "utf-8";html{
                     color:#000;background:#FFF;font-family: "Microsoft YaHei";
                 }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,th,td{
    margin:0;padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;font-weight:normal;color:#333333;
}
fieldset,img,input{
    border:0;
}
li{
    list-style:none;
}
em,strong,th{
    font-style:normal;font-weight:normal;
}
input,textarea,select{
    font-family:inherit;font-size:inherit;font-weight:inherit;
}
input,textarea,select{
    *font-size:100%;
}
table{
    border-collapse:collapse;border-spacing:0;
}
body{
    font-size:12px;font-family:"宋体";color:#333;
}
a:link,a:visited{
    color:#333;text-decoration:none;
}
a:hover{
    color:#a10000;text-decoration:none;
}
a,area{
    blr:expression(this.onFocus=this.blur())
}
a:focus{
    outline:none;
}
.publicfooterclear{
    zoom:1;
}
.publicfooterclear:after{
    content:"";height:0px;display:block;visibility:hidden;clear:both;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.blank0{
    display:block;width:100%;height:0px;line-height:0px;font-size:0px;clear:both;overflow:hidden;
}
.blank15{
    display:block;width:100%;height:15px;line-height:0px;font-size:0px;clear:both;overflow:hidden;
}
.blank20{
    display:block;width:100%;height:20px;line-height:0px;font-size:0px;clear:both;overflow:hidden;
}
.blank30{
    display:block;width:100%;height:30px;line-height:0px;font-size:0px;clear:both;overflow:hidden;
}
.blank60{
    display:block;width:100%;height:60px;line-height:0px;font-size:0px;clear:both;overflow:hidden;
}
@charset "utf-8";html{
                     color:#000;background:#fff;
                 }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,th,td{
    margin:0;padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;font-weight:normal;color:#333333;
}
fieldset,img{
    border:0;
}
li{
    list-style:none;
}
em,strong,th{
    font-style:normal;font-weight:normal;
}
input,textarea,select{
    font-family:inherit;font-size:inherit;font-weight:inherit;
}
input,textarea,select{
    *font-size:100%;
}
table{
    border-collapse:collapse;border-spacing:0;
}
body{
    font-size:12px;font-family:"宋体";color:#333;
}
a:hover{
    color:#a10000;text-decoration:none;
}
a,area{
    blr:expression(this.onFocus=this.blur())
}
IEa:focus{
      outline:none;
  }
FF.clear{
      zoom:1;
  }
.clear:after{
    content:"";height:0px;display:block;visibility:hidden;clear:both;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.blank0{
    display:block;width:100%;height:0px;line-height:0px;font-size:0px;clear:both;overflow:hidden;
}
.blank15{
    display:block;width:100%;height:15px;line-height:0px;font-size:0px;clear:both;overflow:hidden;
}
.blank20{
    display:block;width:100%;height:20px;line-height:0px;font-size:0px;clear:both;overflow:hidden;
}
.blank30{
    display:block;width:100%;height:30px;line-height:0px;font-size:0px;clear:both;overflow:hidden;
}
.blank60{
    display:block;width:100%;height:60px;line-height:0px;font-size:0px;clear:both;overflow:hidden;
}
.disnone{
    display:none!important;
}
.disshow{
    display:block!important;
}
.piclist{
    width: 1200px;
}
.piclist h2{
    text-align: center;line-height: 50px;margin: 30px 0px;font-family: "Microsoft YaHei";color: #9a9a9a;font-size: 18px;
}
.getMoney{
    margin:45px 0px;
}
.vanclHead{
    width:100%;height:auto;
}
.headerTopAreaBox{
    width:100%;height:32px;background:#fff;border-bottom:1px solid #ccc;color:#808080;
}
.headerTopAreaBox a{
    color:#808080;
}
.headerTopAreaBox a:hover{
    color:#a10000;
}
.headerTopArea{
    width:100%;height:31px;background:#f7f7f7;
}
.headerTopArea .headerTop{
    width:980px;height:31px;line-height:32px;margin:0 auto;_overflow:hidden;background:#f7f7f7;
}
.headerTopArea .headerTopLeft{
    min-width:240px;_width:auto!important;_width:240px;float:right;
}
.headerTopArea .loginArea{
    float:left;
}
.headerTopArea .loginArea span{
    color:#808080;
}
.headerTopArea .loginArea a:link,.headerTopArea .loginArea a:visited,.headerTopArea .loginArea a:hover{
    color:#808080;
}
.headerTopArea .recommendArea{
    margin:0px 0 0 8px;float:left;display:inline;
}
.headerTopArea .recommendArea a{
    padding-right:9px;
}
.headerTopArea .headerTopRight{
    width:420px;float:right;position:relative;z-index:9000;
}
.headerTopArea .active p a{
    padding-right:11px;
}
.headerTopArea .hover p a{
    padding-right:11px;
}
.headerTopArea #myVancl,.headerTopArea #vanclMap,.headerTopArea #vanclHelp,.headerTopArea #vanclCustomer{
    width:70px;height:18px;line-height:18px;margin:7px 0px 0 0px;float:left;display:inline;position:relative;z-index:1000;cursor:pointer;
}

.headerTopArea .hover{

}
.headerTopArea .mapDropTitle,.headerTopArea .hover .mapDropTitle{
    background: url(http://i4.vanclimg.com/cms/20160912/notice.png) no-repeat scroll 0px 0px;width:55px;padding-left:26px;text-align:left;
}
.headerTopArea .mapDropTitle{
    background-position:0px 0px;display:block;
}
.headerTopArea .hover .mapDropTitle{
    background-position:0px 0px;height:18px;line-height:18px;display:block;color:#a10000;background: url("http://i4.vanclimg.com/cms/20160912/notice.png") no-repeat scroll 0 0;
}
.headerTopArea .mapDropListBox{
    position:absolute;left:0px;top:18px;display:none;
}
.headerTopArea #myVancl.hover .mapDropListBox{
    display:block;
}
.headerTopArea .hover ul{
    display:block;border-top:none;
}
.headerTopArea .mapDropList{
    width:68px;padding:4px 0px 0px;border:1px solid #a10000;border-bottom:none;background:#fff;overflow:hidden;
}
.headerTopArea .mapDropList ul{
    margin:3px 0;border-top:none;
}
.headerTopArea .mapDropList li{
    width:70px;
}
.headerTopArea .mapDropList li a,.headerTopArea .mapDropList li a:hover{
    background:url(http://i.vanclimg.com/cms/20140116/spritesbgtop.png) no-repeat;
}
.headerTopArea .mapDropList li a{
    width:54px;padding-left:14px;background-position:-115px 7px;display:block;
}
.headerTopArea .mapDropList li a:hover{
    background-position:-115px -13px;
}
.headerTopArea .myVanclDropListBj{
    background:url(http://i.vanclimg.com/cms/20140116/spritesbgtop.png) no-repeat 0px -65px;width:70px;height:5px;overflow:hidden;font-size:0px;
}
.headerTopArea #vanclMap{
    margin:7px 0px 0 0px;
}
.headerTopArea #vanclMap.hover .mapDropListBox{
    display:block;
}
.headerTopArea #vanclHelp{
    margin:7px 5px 0 0px;
}
.headerTopArea #vanclHelp.hover .mapDropListBox{
    display:block;
}
.vanclPhone{
    width:65px;height:24px;float:left;margin-left:13px;display:inline;
}
.vanclPhone a{
    display:block;white-space:nowrap;width:50px;height:24px;padding-right:15px;margin-top:6px;line-height:20px;background:url(http://i2.vanclimg.com/cms/20140414/vanclsprite.png) no-repeat scroll 53px -26px;overflow:hidden;
}
.headerTopArea .payattention{
    float:right;
}
.payattention em,.payattention a.vanclweibo,.payattention .vweixin{
    float:left;background:url(http://i2.vanclimg.com/cms/20140414/vanclsprite.png) no-repeat scroll;margin-top:4px;
}
.payattention em{
    background-position:0px -117px;width:47px;height:22px;display:none;
}
.payattention a.vanclweibo,.vweixinbox .vweixin{
    background-position:-48px -23px;width:20px;height:25px;
}
.vweixinbox{
    float:left;position:relative;
}
.vweixinbox .vweixin{
    background-position:-24px -23px;float:left;margin-left:10px;display:inline;cursor:pointer;height:21px;
}
.vweixinbox .vweixinTip{
    position:absolute;width:148px;height:169px;right:0px;top:30px;border:1px solid #e5e5e5;background:url(http://i2.vanclimg.com/header/20130116/weixin.png) no-repeat;overflow:hidden;display:none;cursor:pointer;z-index:10000;
}
.headerTopArea #vanclCustomer.hover .mapDropListBox{
    display:block;
}
.ac_results{
    z-index:1000;
}
.vanclLogoSearch{
    width:980px;height:62px;margin: 20px auto 25px;
}
.vanclLogo{
    width:166px;height:47px;padding:0px 0px 0px 33px;
}
.vanclLogo a{
    display:block;width:166px;height:47px;background:url(http://i2.vanclimg.com/cms/20150228/vanclsprite.png) no-repeat scroll 0px -59px;text-indent: -9999px;
}
.vanclSearch{
    width: 438px;padding-top:8px;
}
.searchTab{
    height:29px;
}
.searchTab .Enter{
    width: 249px;height:27px;padding:0px 5px;line-height:27px;border:1px solid #c9caca;
}
.searchTab .btn{
    width:49px;height:29px;border:none;cursor:pointer;background:url(http://i2.vanclimg.com/cms/20150228/vanclsprite.png) no-repeat scroll -100px 0px;
}
.buycar{
    width:105px;height:27px;border:1px solid #c1383e;background:url(http://i2.vanclimg.com/cms/20150228/vanclsprite.png) no-repeat scroll -154px 0px;position:relative;z-index:10;
}
.buycar a.cartab{
    display:block;padding-left:39px;padding-top:6px;font-size:12px;color:#ffffff;
}
.buycar a.cartab:link,.buycar a.cartab:visited,.buycar a.cartab:hover,.buycar a.cartab:active{
    color:#ffffff;
}
.searchTab .active{
    width:105px;height:27px;border:1px solid #c1383e;background:url(http://i2.vanclimg.com/cms/20150228/vanclsprite.png) no-repeat scroll -154px 0px;position:relative;z-index:10;float:right;
}
.searchTab .active a.cartab{
    display:block;padding-left:29px;padding-top:6px;font-size:12px;color:#ffffff;
}
.searchTab .active a.cartab:link,.searchTab .active a.cartab:visited,.searchTab .active a.cartab:hover,.searchTab .active a.cartab:active{
    color:#ffffff;
}
.searchTab .active p a{
    display:block;padding-left:39px;padding-top:6px;font-size:12px;color:#ffffff;
}
.searchTab .hover{
    border:1px solid #c1383e;border-bottom:1px solid #ffffff;background:url(http://i2.vanclimg.com/cms/20150228/vanclsprite.png) no-repeat scroll -153px -29px;width:105px;height:27px;position:relative;z-index:1001;float:right;
}
.searchTab .hover a.cartab:link,.searchTab .hover a.cartab:visited,.searchTab .hover a.cartab:hover,.searchTab .hover a.cartab:active{
    color:#b81c22;
}
.searchTab .hover p a{
    display:block;padding-left:29px;padding-top:6px;font-size:12px;color:#ffffff;
}
.searchTab .hover .bottomlines{
    background:#fff;position:absolute;height:4px;width:100%;z-index:10;top:25px;
}
.searchTab .hover .BuycarTab{
    display:block;
}
.line{
    display:block;width:154px;height:1px;overflow:hidden;background:#b81c22;
}
.saleTab{
    margin:0px 20px;height:33px;line-height:33px;border-bottom:1px solid #ececec;
}
.saleTab h2{
    color:#727171;font-size:13px;
}
.saleTab h2 span{
    color:#b81c22;
}
.saleTab a{
    padding:0px;text-decoration:underline;font-size:13px;
}
.saleTab a:link,.saleTab a:visited,.saleTab a:hover,.saleTab a:active{
    color:#b81c22;
}
.BuycarTab ul li{
    padding:5px 0px 5px 0px;height:40px;overflow:hidden;
}
.BuycarTab ul li span{
    display:block;color:#727171;float:left;line-height:18px;font-family:"Microsoft Yahei";
}
.BuycarTab ul li span.pTitle{
    padding:4px 15px 0px;width:100px;
}
.BuycarTab ul li span.pMoney{
    padding-top:12px;
}
.BuycarTab .havepru{
    width:90%;margin:0px auto;
}
.BuycarTab  .havepruMid h2{
    line-height:33px;border-bottom:1px solid #ececec;color:#727171;
}
.BuycarTab .havepruMid ul li .carListLeft{
    display: block;float:left;width:40px;height:40px;padding:2px 4px 2px 2px;
}
.BuycarTab .havepruMid ul li .carListRight{
    display: block;float:left;width:190px;
}
.BuycarTab .havepruMid ul li .carListRight h3 a{
    color:#727171;line-height:25px;
}
.BuycarTab .havepruMid ul li .carListRight h3 a:hover{
    color:#a10000;line-height:25px;
}
.BuycarTab .havepruMid ul li .carListRight h3{
    line-height:25px;
}
.BuycarTab .havepruMid ul li .carListRight .priceArea{
    color:#a10000;
}
.BuycarTab .havepruMid ul li .carListDelect{
    display: block;float:right;width:45px;height:40px;color:#a10000;text-align:right;line-height:40px;
}
.BuycarTab .ShopCarPageLine{
    height:8px;overflow:hidden;border-bottom:1px solid #ececec;margin:0 0 5px 0;
}
.BuycarTab .SCtotalpage div{
    display:block;color:#a3a3a3;float:left;
}
.BuycarTab .SCtotalpage div span{
    display:block;color:#b81c22;
}
.BuycarTab .SCtotalpage strong{
    display:block;float:right;height:29px;line-height:29px;background:#b81c22;padding:0 10px;
}
.BuycarTab .SCtotalpage strong a{
    color:#fff;
}
.BuycarTab .SCtotalpage .blank0{
    clear:both;height:10px;
}
.checkout{
    padding-top:13px;margin:10px 20px 0px;border-top:1px solid #ececec;
}
.checkout span,.checkout a{
    display:block;width:108px;padding:0px;
}
.checkout span em{
    display:block;color:#a3a3a3;line-height:18px;
}
.checkout span em.total{
    color:#b81c22;
}
.checkout span em.total strong{
    color:#000000;font-weight:bold;
}
.checkout a{
    height:29px;background:#b81c22;color:#ffffff;line-height:29px;text-align:center;font-family:"Microsoft Yahei";
}
.checkout a:link,.checkout a:visited,.checkout a:hover,.checkout a:active{
    color:#ffffff;
}
.hotWord{
    width:440px;padding-top:5px;line-height:18px;color:#727171;padding-left:15px;
}
.hotWord p a{
    padding-left:5px;
}
.hotWord p a:link,.hotWord p a:visited,.hotWord p a:hover,.hotWord p a:active{
    color:#727171;margin:0 5px 0 0;
}
.NavLine{
    display: block;height: 16px;width: 1px;border-right: solid 1px #888;position: absolute;right: 1px;top: 5px;overflow: hidden;
}
.vanclNav{
    width:980px;height:49px;margin:0px auto;_overflow:hidden;
}
.vanclNav .allProduct{
    width: 98px;height:49px;color: #333;position: relative;
}
.vanclNav .allProduct a{
    display:block;width:100%;height:100%;line-height:49px;text-align:center;color:#333;font-size:17px;font-family:"Microsoft Yahei";
}
.vanclNav .allProduct a:hover{
    color:#a10000;text-decoration:none;
}
.vanclNav .allProduct .subnavCon{
    display:block;line-height:49px;text-align:center;color:#ffffff;font-size:17px;font-family:"Microsoft Yahei";cursor:pointer;
}
.vanclNav .allProduct .subnavCon em{
    display:none;width:20px;height:14px;float:right;margin-top:17px;border:0 none;overflow:hidden;margin-right:28px;background:url(http://i2.vanclimg.com/cms/20150228/vanclsprite.png) no-repeat -380px -206px;
}
.vanclNav .allProduct .subnavCon .emtop{
    background:url(http://i2.vanclimg.com/cms/20150228/vanclsprite.png) no-repeat -380px -225px;border:0 none;overflow:hidden;
}
.categoryList{
    width:256px;height:auto;position:absolute;left:0px;top:47px;border:2px solid #b81c22;overflow:hidden;z-index:1000;background:#fff;
}

.categoryList h3{
    padding:0px 3px;line-height:20px;font-size:14px;color:#b81c22;background:#ffffff;position:absolute;left:35px;top:-10px;
}
.categoryList h3 a{
    color:#b81c22;text-decoration:none;
}
.categoryList dl dt{
    padding:10px 0px 0px 37px;font-size:14px;font-family:"Microsoft Yahei";color:#A3A2A2
}
.categoryList dl dt a{
    color:#A3A2A2;text-decoration:none;
}
.categoryList dl dd{
    padding:5px 0px 10px 30px;border-bottom:1px solid #c8c8c9;
}
.categoryList dl dd a{
    display:inline-block;padding:0px 5px;line-height:20px;
}
.categoryList dl dd a:link,.categoryList dl dd a:visited{
    color:#727171;
}
.categoryList dl dd a:hover,.categoryList dl dd a:active{
    color:#b81c22;background:#edeeee;
}
.categoryList dl dd a.selectedtips:link,.categoryList dl dd a.selectedtips:visited,.categoryList dl dd a.selectedtips:hover,.categoryList dl dd a.selectedtips:active{
    background:#e5e6e6;color:#b81c22;
}
.vanclNav ul{
    padding:0px;width: 882px;
}
.vanclNav ul li{
    float:left;width:98px;position: relative;
}
.vanclNav ul li a{
    display:block;width:98px;height:49px;line-height:49px;text-align:center;font-size: 17px;text-align: center;font-family:"Microsoft Yahei";
}
.vanclNav ul li a:link,.vanclNav ul li a:visited{
    color:#333;
}
.vanclNav ul li a:hover{
    color:#a10000!important;
}
#V_Category{
    position:relative;z-index:1000;_zoom:1;_float:right;
}
.vanclSubNavList{
    display: none;position:absolute;top:14px;width:auto;height:auto;_width:400px;_height:300px;_left:0px!important;
}
.vanclSubNav{
    width:360px;height:365px;background:#ffffff;overflow:hidden;position:absolute;left:0px;top:35px;z-index:1000;
}
.subNav_LefTab{
    width:165px;height:390px;float:left;background:#b7282d;overflow:hidden;*zoom:1;
}
.subnavIcon{
    display:block;width:19px;height:10px;margin-left:30px;background:url(http://i2.vanclimg.com/cms/20140414/vanclsprite.png) no-repeat scroll -380px -27px;
}
.subNav_LefTab h2 a{
    display:block;width:209px;height:20px;padding-left:15px;font-size:14px;font-weight:normal;font-family:"Microsoft YaHei";
}
.subNav_LefTab h2 a:link,.subNav_LefTab h2 a:visited{
    color:#ffffff;background:#b7282d;
}
.subNav_LefTab h2 a:hover,.subNav_LefTab h2 a:active{
    background:#ffffff;color:#333333;
}
.subNav_LefTab p a{
    display:block;width:209px;height:20px;padding-left:15px;font-size:14px;font-weight:normal;font-family:"Microsoft YaHei";
}
.subNav_LefTab p a:link,.subNav_LefTab p a:visited{
    color:#ffffff;background:#b7282d;
}
.subNav_LefTab p a:hover,.subNav_LefTab p a:active{
    background:#ffffff;color:#333333;
}
.subNav_LefTab ul li{
    width:224px;height:25px;background:none;font-size:14px;padding-left:10px;margin-bottom:5px;text-align:left;font-weight:normal;font-family:"Microsoft YaHei";
}
.subNav_LefTab ul li a{
    display:block;width:209px;text-align:left;height:25px;line-height:25px;padding-left:15px;font-size:14px;font-weight:normal;font-family:"Microsoft YaHei";
}
.subNav_LefTab ul li a:link,.subNav_LefTab ul li a:visited{
    color:#ffffff;background:#b7282d;
}
.subNav_LefTab ul li a:hover,.subNav_LefTab ul li a:active{
    background:#ffffff;color:#333333;
}
.subNav_centerTab{
    width:251px;background:#ffffff;
}
.subNav_centerTab h2{
    margin-top:15px;margin-left:25px;color:#b7282d;
}
.subNav_centerTab h2 a:link,.subNav_LefTab h2 a:visited{
    color:#ffffff;background:#ffffff;
}
.subNav_centerTab h2 a:hover,.subNav_LefTab h2 a:active{
    background:#919191;color:#333333;
}
.subNav_centerTab ul li a:link,.subNav_centerTab ul li a:visited{
    color:#333333;background:#ffffff;
}
.subNav_centerTab ul li a:hover,.subNav_centerTab ul li a:active{
    background:#919191;color:#ffffff;
}
.subNav_rigTab{
    float:right;width:170px;height:375px;margin:6px 6px 0px 0px;*zoom:1;overflow:hidden;padding:0 10px 0 0
}
.wwwcategoryList{
    width:260px;height:492px;float:left;overflow:hidden;position:relative;z-index:1000;
}
.categpost{
    position:absolute;z-index: 1000;background:#fff;
}
.wwwcategoryList h3{
    padding:0px 3px;line-height:20px;font-size:14px;color:#b81c22;background:#ffffff;position:absolute;left:35px;top:-10px;
}
.wwwcategoryList h3 a{
    color:#b81c22;text-decoration:none;
}
.wwwcategoryList dl dt{
    padding:10px 0px 0px 37px;font-size:14px;font-family:"Microsoft Yahei";color:#A3A2A2;
}
.wwwcategoryList dl dt a{
    color:#A3A2A2;text-decoration:none;
}
.wwwcategoryList dl dd{
    padding:5px 0px 10px 30px;border-bottom:1px solid #c8c8c9;
}
.wwwcategoryList dl dd a{
    display:inline-block;padding:0px 5px;line-height:18px;
}
.wwwcategoryList dl dd a:link,.wwwcategoryList dl dd a:visited{
    color:#727171;
}
.wwwcategoryList dl dd a:hover,.wwwcategoryList dl dd a:active{
    color:#b81c22;background:#edeeee;
}
.wwwcategoryList dl dd a.selectedtips:link,.wwwcategoryList dl dd a.selectedtips:visited,.categoryList dl dd a.selectedtips:hover,.categoryList dl dd a.selectedtips:active{
    background:#e5e6e6;color:#b81c22;
}
.i_item_pic{
    width:718px;border:solid 1px #dbdbdd;background:#fefefe;height:170px;border-bottom:solid 2px #dc9094;overflow:hidden;
}
.i_item_pic .i_pic_content{
    width:49%;height:170px;float:left;padding:10px 0 0 0;_width:45%;
}
.i_item_pic .i_pic_line{
    width:1%;height:140px;float:left;margin:20px 0 0 0;overflow:hidden;border-left:solid 1px #dbdbdd;
}
.i_item_pic .i_pic_content .picB{
    width:140px;height:140px;margin:0px 0 0 14%;_margin:0px 0 0 2%;float:left;overflow:hidden;_width:140px;
}
.i_item_pic .i_pic_content .picB a{
    border:0 none;
}
.i_item_pic .i_pic_content .picB a img{
    border:0 none;width:100%;height:100%;
}
.i_item_pic .i_pic_content .contentB{
    width:150px;height:140px;float:left;padding:10px 0 0 0;_width:120px;overflow:hidden;
}
.i_item_pic .i_pic_content .contentB h3{
    width:100%;height:35px;text-align:left;line-height:30px;overflow:hidden;
}
.i_item_pic .i_pic_content .contentB h3 a{
    font-size:16px;font-weight:bolder;text-decoration:none;color:#727171;
}
.i_item_pic .i_pic_content .contentB h3 a:hover{
    color:#a10000;
}
.i_item_pic .i_pic_content .contentB p{
    color:#999999;font-size:12px;text-align:left;line-height:16px;width:150px;
}
.i_item_pic .i_pic_content .contentB span{
    color:#b81c22;font-size:16px;line-height:30px;
}
.nobg{
    background:none!important;
}
.full .allProduct .vancllogo_Con{
    position: absolute;left: 0;bottom: 0;padding: 0px;background: none;width: 100%;
}
.full .allProduct .vancllogo_Con a{
    display: block;width: 185px;height: 46px;background:url(http://i4.vanclimg.com/cms/20160923/logo18546.png) no-repeat scroll;
}
.full .navlist{
    width:1000px;height:22px;margin:30px auto;padding-left: 200px;position: relative;z-index: 300;
}
.full .subNav{
    width: 99px;background:#fff;position: absolute;left: -2px;top:30px;
}
.full .subNav span{
    display: block;width: 100%;height: 5px;border-top:5px solid #B81C22;
}
.full .subNav ul{
    border:1px solid #efefef;border-top:0px;padding: 10px 0px;
}
.full .subNav ul li{
    text-align: center;line-height: 35px;background: none;padding: 0px;float: none;font-size: 16px;*postion:relative;*z-index:300;
}
.full .navlist ul li.none{
    background:none;
}
.full .navlist ul li.vancllogo_Con{
    position: absolute;left: 50px;bottom: 0;padding: 0px;background: none;
}
.full .navlist ul li.vancllogo_Con a{
    display: block;width: 185px;height: 46px;background:url(http://i4.vanclimg.com/cms/20160923/logo18546.png) no-repeat scroll;
}
.full .navlist ul li a:link,.navlist ul li a:visited,.navlist ul li a:active{
    color: #727171;
}
.full .navlist ul li a:hover{
    color: #b81c22;
}
.allProduct .vancllogo_Con{
    position: absolute;left: 0;bottom: 0;padding: 0px;background: none;width: 100%;
}
.allProduct .vancllogo_Con a{
    display: block;width: 185px;height: 46px;background:url(http://i4.vanclimg.com/cms/20160923/logo18546.png) no-repeat scroll;
}
.navlist{
    width:780px;height:22px!important;margin:30px auto!important;padding-left: 200px!important;position: relative!important;z-index: 300!important;
}
.subNav{
    width: 78px;background:#fff;position: absolute;left: -2px;top:30px;
}
.subNav span{
    display: block;width: 100%;height: 5px;border-top:5px solid #B81C22;
}
.subNav ul{
    border:1px solid #efefef;border-top:0px;padding: 10px 0px;
}
.subNav ul li{
    text-align: center;line-height: 35px;background: none;padding: 0px;float: none;font-size: 14px;*postion:relative;*z-index:300;
}
.navlist ul li.none{
    background:none;
}
.navlist ul li.vancllogo_Con{
    position: absolute;left: 0;bottom: 0;padding: 0px;background: none;width: 100%;
}
.navlist ul li.vancllogo_Con a{
    display: block;width: 185px;height: 46px;background:url(http://i4.vanclimg.com/cms/20160923/logo18546.png) no-repeat scroll;
}
.navlist ul li a:link,.navlist ul li a:visited,.navlist ul li a:active{
    color: #727171;
}
.navlist ul li a:hover{
    color: #b81c22;
}
@charset "utf-8";.vanclFoot{
                     overflow: hidden;width: 980px;height: 282px;margin: 0px auto;border: 1px solid #e0e0e1;font-family: "Microsoft YaHei";margin-bottom: 25px;
                 }
.vanclFoot ul li{
    float: left;
}
.vanclCustomer{
    margin: 33px 0px 23px;overflow: hidden;
}
.vanclCustomer ul li{
    width: 320px;height: 138px;border-right: 1px solid #e0e0e1;margin-right:0px;
}
.vanclCustomer ul li p{
    text-align: center;font-size: 14px;color: #727171;line-height: 26px;
}
.vanclCustomer ul li p img{
    display: block;margin: 0px auto;
}
.vanclCustomer ul li p.onlineCustomer{
    margin: 15px auto 30px;
}
.vanclCustomer ul li p.onlineTime{
    margin: 0px auto;width: 156px;height: 32px;text-align: center;line-height: 32px;font-size: 14px;background: #b81c22;color: #ffffff;
}
.vanclCustomer ul li p.seven{
    margin: 20px 0px;
}
.vanclCustomer ul li.twocode{
    border-right: none;
}
.vanclCustomer ul li.twocode p img{
    margin-bottom: 10px;
}
.vanclCustomer ul li.twocode p em{
    color: #a10000;
}
.vanclOthers{
    height: 46px;padding: 17px 0px 0px 0px;background: #f8f8f8;width: 95%;margin: 17px auto;
}
.vanclOthers ul li{
    width: 153px;text-align:center;line-height: 26px;border-right: 1px solid #dadadb;margin-right:0px;
}
.vanclOthers ul li.none{
    border-right: none;
}
.vanclOthers ul li a:link,.vanclOthers ul li a:visited,.vanclOthers ul li a:hover,.vanclOthers ul li a:active{
    color: #323232;
}
.footIcon{
    width:980px;height:52px;margin:15px auto;
}
.footIcon ul li{
    float:left;width:25%;height:52px;
}
.footIcon ul li a{
    display:block;width:100%;height:30px;margin-top:11px;
}
.footIcon ul li.returnProduct a{
    background:url(http://i2.vanclimg.com/cms/20140414/vanclsprite.png) no-repeat scroll 88px -127px;
}
.footIcon ul li.buyProduct a{
    background:url(http://i2.vanclimg.com/cms/20140414/vanclsprite.png) no-repeat scroll 70px -167px;
}
.footIcon ul li.payMoney a{
    background:url(http://i2.vanclimg.com/cms/20140414/vanclsprite.png) no-repeat scroll 74px -209px;
}
.footIcon ul li.cusService a{
    background:url(http://i2.vanclimg.com/cms/20140414/vanclsprite.png) no-repeat scroll 71px -251px;
}
.footBottom{
    width:100%;height:auto;margin:0px auto;border-top:1px solid #3e3a39;
}
.footBottomTab{
    width:1200px;height:auto;margin:10px auto;
}
.footBottomTab p{
    text-align:center;line-height:25px;color:#3e3a39;font-family:"Microsoft YaHei";
}
.subFooter{
    width:980px;margin:0px auto 25px;text-align: center;
}
.subFooter a,.subFooter span{
    margin: 0 10px;
}
.subFooter .redLogo:link,.subFooter .redLogo:visited,.subFooter .redLogo:hover{
    background: url("http://i.vanclimg.com/cms/20140116/spritesbgtop.png") no-repeat scroll 0 -581px transparent;display: inline-block;height: 42px;width: 113px;
}
.subFooter .costumeOrg{
    background: url("http://i.vanclimg.com/cms/20140116/spritesbgtop.png") no-repeat scroll 0 -629px transparent;display: inline-block;height: 45px;width: 156px;
}
.subFooter .wsjyBzzx:link,.subFooter .wsjyBzzx:visited,.subFooter .wsjyBzzx:hover{
    background: url("http://i.vanclimg.com/cms/20140116/spritesbgtop.png") no-repeat scroll 0 -675px transparent;display: inline-block;height: 42px;width: 96px;
}
.subFooter .vanclMsg:link,.subFooter .vanclMsg:visited,.subFooter .vanclMsg:hover{
    background: url("http://i.vanclimg.com/cms/20140116/spritesbgtop.png") no-repeat scroll -97px -675px transparent;display: inline-block;height: 42px;width: 101px;
}
#footerArea .vanclqingNian:link, #footerArea .vanclqingNian:visited, #footerArea .vanclqingNian:hover{
    background:url("http://i.vanclimg.com/cms/20140116/spritesbgtop.png") no-repeat scroll -202px -675px transparent;display:inline-block;height:42px;width:42px;
}
.full .headerTopArea .headerTop{
    width:1200px;
}
.full .headerTopArea .headerTopLeft{
    min-width:240px;_width:auto!important;_width:280px;float:right;
}
.full .headerTopArea .recommendArea{
    margin:0px 0 0 13px;float:left;display:inline;
}
.full .headerTopArea .recommendArea a{
    padding-right:14px;
}
.full .headerTopArea .headerTopRight{
    width:435px;
}
.full .headerTopArea #myVancl{
    margin:7px 5px 0 0px;
}
.full .headerTopArea #vanclMap{
    margin:7px 5px 0 0px;
}
.full .headerTopArea #vanclHelp{
    margin:7px 5px 0 0px
}
.full .vanclPhone{
    float:left;margin-left:15px;display:inline;
}
.full .vanclLogoSearch{
    width:1200px;
}
.full .vanclNav{
    width:1200px;
}
.full .vanclNav ul{
    padding:0px;width: 1080px;
}
.full .vanclNav ul li{
    width: 120px;position: relative;
}
.full .vanclNav ul li a{
    width: 120px;line-height: 49px;font-size: 17px;color: #333;height: 49px;display: block;text-align: center;font-family: "Microsoft Yahei";
}
.full .vanclNav .allProduct{
    width: 120px;height:49px;color: #333;position: relative;
}
.full .vanclCon{
    width:1200px;
}
.full .vanclFocusAd{
    width: 1200px;
}
.full .vanclAd{
    display:block;
}
.full .shopList ul li img{
    margin:0px;width:100%;
}
.full .shopList ul li{
    width:187px;
}
.full .shopList ul li div{
    width:187px;
}
.full .vanclProduct_List{
    width:1200px;
}
.full .productList ul li{
    margin:0px 13px 20px 0px;
}
.full .vanclProduct_Page{
    width:980px;
}
.full .productDetail_rig{
    width:474px;
}
.full .selectColor,.full .selectsize{
    width:420px;
}
.full .sizeDetail .selectsize{
    width:320px;
}
.full .looksizetable{
    right:-145px;
}
.full .product_Introduction{
    width:980px;
}
.full .productImg img{
    margin:0px 0px 50px -110px;
}
.full .productPinglun{
    width:1200px;
}
.full .ptPinglunRig{
    width:946px;
}
.full .selectTips{
    width:538px;
}
.full .pinglunContent{
    width:916px;
}
.full .pinglunTab{
    width:916px;
}
.full .pinglunTabLef{
    width:758px;
}
.full .pinlunCon{
    width:610px;
}
.full .footIcon{
    width:1200px;
}
.full .vanclFoot{
    overflow: hidden;width: 1118px;height: 282px;margin: 0px auto;padding: 0px 40px 0px;border: 1px solid #e0e0e1;font-family: "Microsoft YaHei";margin-bottom:25px;
}
.full .vanclFoot ul li{
    float: left;
}
.full .vanclCustomer{
    margin: 33px 0px 23px;overflow: hidden;
}
.full .vanclCustomer ul li{
    width: 370px;height: 138px;border-right: 1px solid #e0e0e1;margin-right:0px;
}
.full .vanclCustomer ul li p{
    text-align: center;font-size: 14px;color: #727171;line-height: 26px;
}
.full .vanclCustomer ul li p img{
    display: block;margin:0px auto;
}
.full .vanclCustomer ul li p.onlineCustomer{
    margin: 15px auto 30px;
}
.full .vanclCustomer ul li p.onlineTime{
    margin: 0px auto;width: 156px;height: 32px;text-align: center;line-height: 32px;font-size: 14px;background: #b81c22;color: #ffffff;
}
.full .vanclCustomer ul li p.seven{
    margin: 20px 0px;
}
.full .vanclCustomer ul li.twocode{
    border-right: none;
}
.full .vanclCustomer ul li.twocode p img{
    margin-bottom: 10px;
}
.full .vanclCustomer ul li.twocode p em{
    color: #a10000;
}
.full .vanclOthers{
    height: 26px;padding: 17px 0px 14px;background: #f8f8f8;width: 100%;margin: 0;
}
.full .vanclOthers ul li{
    padding: 0px 65px;line-height: 26px;border-right: 1px solid #dadadb;width: auto;text-align: center;margin-right:0px;
}
.full .vanclOthers ul li.none{
    border-right: none;
}
.full .vanclOthers ul li a:link,.vanclOthers ul li a:visited,.vanclOthers ul li a:hover,.vanclOthers ul li a:active{
    color: #323232;
}
.full .imgTab{
    width:1200px;
}
.full .i_item_pic{
    width:938px;
}
.full .i_item_pic .i_pic_content .contentB{
    width:230px;_width:190px;
}
.full .last2015618{
    display:inline-block;*float:left;*margin:0 6px 0 0px!important;
}
.newlists2015 ul .last2015618{
    display:none;
}
